body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
  padding-top: 50px;
}

h1 {
  color: #1e40af;
}

button {
  padding: 10px 20px;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
}